body {
    background-image: url("images/wallpaper.jpg");
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: 100%;
    color: rgb(6, 32, 63);
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    margin: 0px;
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 20vh;
    flex-grow: 1;
    min-width: 100%;
    background-color:rgb(248, 3, 117);
    top: 0px;
    width: 100%;
}
.button {
    padding: 4px;
    margin: 4px;
    border-style:solid;
    border-width: 2px;
    font-size: 18px;
    font-family: 'Poller One', cursive;
    color: rgb(128, 0, 179);
    background-color:rgb(0, 217, 255);
    border-radius: 10px;
}
a {
    text-decoration: none;
}
a:hover {
    color: rgb(184, 250, 3);

}
.content {
    background: white;
    width: 80%;
    margin-top: 30px;
    padding: 10px;
    margin-left: 8%;
    margin-right: 10%;
    padding: 20px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: hotpink;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-family: 'Poller One', cursive;
    color:rgb(0, 217, 255);
}
.footer {
    width: 100vw;
    padding: 5px;
    background-color:rgb(248, 3, 117);
    bottom: 0px;